body {
  padding: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table-result {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
}

.table-result,
.th-result,
.td-result {
  border: 1px solid black;
}

.table-header {
  margin: auto;
  width: 80%;
}

.rigth-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.pagination-info {
  margin: 10px;
}

.pagination-button {
  /* margin: 0px 5px;
  padding: 3px 24px;
  font-size: 12px; */

  /* background-color: #4caf50; */
  /* Green */
  border: none;
  /* color: white; */
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  /* cursor: pointer; */
}

.pagination-button .disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.search-textbox {
  font-size: 16px;
  padding: 8px 0px;
}
